# --- JWT ---
JWT_KEY=
JWT_ISSUER=https://auth.api.docker.localhost/
JWT_AUDIENCE=https://auth.api.docker.localhost/

# --- Pinata ---
PINATA_API_KEY=
PINATA_SECRET_KEY=
PINATA_API_URL=https://api.pinata.cloud/pinning
PINATA_GATEWAY_URL=https://gateway.pinata.cloud/ipfs

# --- SQL Server Password ---
SA_PASSWORD=

# --- Connection strings per service ---
AUTH_CONNECTION_STRING=Server=auth.database;Database=AuthDb;User Id=sa;Password=ChangePassword@1;TrustServerCertificate=True
USERS_CONNECTION_STRING=Server=users.database;Database=UsersDb;User Id=sa;Password=ChangePassword@1;TrustServerCertificate=True
DIAGNOSTICS_CONNECTION_STRING=Server=diagnostics.database;Database=DiagnosticsDb;User Id=sa;Password=ChangePassword@1;TrustServerCertificate=True
MEDICALDATA_CONNECTION_STRING=Server=medicaldata.database;Database=MedicalDataDb;User Id=sa;Password=ChangePassword@1;TrustServerCertificate=True
ACCESSREQUESTS_CONNECTION_STRING=Server=accessrequests.database;Database=AccessRequestsDb;User Id=sa;Password=ChangePassword@1;TrustServerCertificate=True
